name: build cv

permissions:
  contents: write

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout repo
        uses: actions/checkout@v4

      - name: install nix
        uses: cachix/install-nix-action@v25

      - name: build cv pdf
        run: nix run . -- cv_thibautvas.org

      - name: upload pdf to release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: latest
          name: latest cv
          files: cv_thibautvas.pdf
          overwrite_files: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
